@model pmsManager.Models.ImpExpAssociated

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ImpExpAssociated</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isExport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isExport)
            @Html.ValidationMessageFor(model => model.isExport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isImport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isImport)
            @Html.ValidationMessageFor(model => model.isImport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sysFormat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sysFormat)
            @Html.ValidationMessageFor(model => model.sysFormat)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PmsId)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.PmsId)*@
            @Html.ValidationMessageFor(model => model.PmsId)
            @Html.TextBoxFor(model => model.PmsId, new { @Value = @ViewBag.pmsID, @readonly = "true" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
