@model pmsManager.Models.ImpExpAssociated

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ImpExpAssociated</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isExport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isExport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isImport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isImport)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { id = Model.id })
    </p>
}
